/*ここからランキングの順位の文字を上下中央にするCSS*/
.table-block{
    height: 30px;
    position: relative;
  }

.tablecell-block{
    position: absolute;
    top: 50%; /*親要素を起点に上から50%*/
    left: 50%;  /*親要素を起点に左から50%*/
    transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
    -webkit-transform: translateY(-50%) translateX(-50%);
  }

 /*ここまで*/
